// COLORS
$primary-color: lighten(#c5aa6a, 35%);
$bg-color: lighten(#f3f3f3, 5%);  

// DIMENSIONS
$header-height: 3rem;
$footer-height: 75px;

// PROPERTIES
$border: 0.01rem solid darken(#F5F5F5, 10%);
$img-box-shadow: 0px 0px 3px 0px rgba(150,136,139,1);
