// reset global defaults
* {
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  margin: 0px;
  background-color: $bg-color;
}

input[type='text']:focus {
  outline: none;
}

// custom css classes
.container {
  width: 80%;
  margin: 0 auto;
  padding: 0 0.5rem;

  @media only screen and (max-width: 880px) {
    width: 100%;
  }
}

.main-content {
  padding-top: $header-height;
  padding-bottom: $footer-height;
};
