$feed-item-height: 150px;
$feed-item-padding: 10px;

.feed {
  width: 90%;
  margin: 0 auto;

  .load-more {
    width: 100%;
    height: 100px;
    text-align: center;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    opacity: 0.5;
    padding-top: 20px;
    transition: 0.3s;

    &:hover {
      background-color: darken($bg-color, 4%);
      text-decoration: underline;
      opacity: 0.6;
    }
  }
  .feed-item {
    height: $feed-item-height;
    padding: $feed-item-padding;
    border-bottom: $border;
    transition: 0.3s;

    .play-icon {
      width: 60px;
      height: 60px;
      opacity: 0.5;
      cursor: pointer;
    }
    .tag {
      width: 60px;
      height: 1.1rem;
      margin-top: 15px;
      line-height: 1.1rem;
      font-size: 1rem;
      text-align: center;
      color: darken($primary-color, 60%);
      border: 1px solid darken($primary-color, 50%);
      border-radius: 2px;
    }
    .albumart {
      float: left;
      width: 130px;
      height: 130px;
      box-shadow: $img-box-shadow;
    }
    .details {
      padding-left: 150px;
      padding-right: 60px;

      .episode-title {
        line-height: 2rem;
        height: 2rem;
        font-size: 1.2rem;
        font-weight: 600;
        opacity: 0.6;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .podcast-title {
        line-height: 1.5rem;
        height: 1.5rem;
        font-size: 1rem;
        font-weight: 500;
        opacity: 0.6;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .meta {
        margin-top: -5px;
        margin-right: 45px;
        opacity: 0.5;

        .date, .desc-toggle {
          font-size: 0.8rem;
          font-weight: bold;
        }
        .dot {
          font-size: 2rem;
          vertical-align: middle;
        }
        .desc-toggle {
          cursor: pointer;
          transition: 0.5s;

          &:hover {
            text-decoration: underline;
          }
        }
      }
      .description {
        height: 0;
        font-size: 0.9rem;
        overflow-y: scroll;
        text-align: left;
        opacity: 0.6;
        font-weight: 500;
        transition: 0.3s;

        a {
          font-style: italic;
          text-decoration: underline;
        }
        img, audio, iframe {
          display: none;
        }
      }
    }
    &.show {
      height: $feed-item-height + 70px;
      .description {
        height: 120px;
      }
    }
  }
}
