$img-height: $footer-height;
$trans-time: 0.5s;

//after animation
$footer-height-a: 200px;
$img-height-a: 180px;

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: $footer-height;
  background-color: $primary-color;
  border-top: $border;
  transition: $trans-time;

  // ALBUM ART
  .album-art {
    float: left;
    img {
      height: $img-height;
      transition: $trans-time;
    }
  }

  // CONTROLS
  .controls {
    float: right;
    margin-top: 18px;

    img {
      width: 45px;
      opacity: 0.65;
      transition: $trans-time;
      cursor: pointer;
    }
  }

  // PLAYER
  .player {
    padding-top: 2px;
    padding-left: $img-height + 20px;
    transition: $trans-time;

    // DETAILS
    .details {
      .now-playing {
        font-weight: 800;
        opacity: 0.4;
      }
      .episode {
        margin-top: -2px;
        .title {
          font-size: 1.1rem;
          font-weight: 700;
          opacity: 0.75;
        }
        .dot {
          font-size: 2rem;
          vertical-align: middle;
          opacity: 0.6;
        }
        .date {
          font-size: 1rem;
          font-weight: 600;
          opacity: 0.55;
        }
      }
      .podcast-title {
        margin-top: -5px;
        font-size: 1rem;
        font-weight: 600;
        opacity: 0.55;
      }
    }
    //AUDIO PLAYER
    .audio {
      display: flex;
      opacity: 0;
      width: 100%;
      height: 45px;
      margin-top: 25px;
      margin-left: -10px;
      transition: $trans-time * 2;

      #play-icon {
        width: 45px;
        height: 100%;
        opacity: 0.65;
        cursor: pointer;
      }
      #playback-slider {
        width: 63%;
        height: 100%;
        vertical-align: middle;
        margin-left: -2px;
      }
      #time {
        margin: 15px 2px;
        font-size: 1rem;
        font-weight: 500;
        opacity: 0.5;
      }
      #volume-icon {
        width: 30px;
        height: 30px;
        margin: 8px -2px 9px 18px;
        opacity: 0.5;
      }
      #volume-slider {
        width: 10%;
        height: 100%;
      }
    }
  }
}

#footer-state:checked {
  & + footer {
    height: $footer-height-a;
    padding-top: ($footer-height-a - $img-height-a) / 2;

    .album-art img {
      height: $img-height-a;
      box-shadow: $img-box-shadow;
    }
    .controls {
      #play { opacity: 0; width: 0; height: 0; }
      #arrow { transform: rotate(180deg); }
    }
    .player {
      padding-left: $img-height-a + 20px;
      .audio {
        opacity: 1;
      }
    }
  }
}
