$img-height: $footer-height;
$trans-time: 0.5s;
$audio-height: 45px;

//after animation
$footer-height-a: 200px;
$img-height-a: 180px;

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: $footer-height;
  background-color: $primary-color;
  border-top: $border;
  transition: $trans-time;

  // ALBUM ART
  .album-art {
    float: left;

    img {
      height: $img-height;
      transition: $trans-time;
    }
  }

  // CONTROLS
  .controls {
    float: right;
    margin-top: 18px;

    img {
      width: 45px;
      opacity: 0.65;
      transition: $trans-time;
      cursor: pointer;
    }
  }

  // PLAYER
  .player {
    margin-left: $img-height + 20px;
    padding-top: 2px;
    transition: $trans-time;

    // DETAILS
    .details {
      margin-right: 100px; //Make text from overflowing into controls

      .now-playing {
        font-size: 1rem;
        font-weight: 800;
        opacity: 0.4;
      }
      .episode-title, .episode-details {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .episode-title {
        font-size: 1.1rem;
        font-weight: 700;
        opacity: 0.75;
        margin: 5px 0 -5px 0;
      }
      .episode-details {
        .date, .podcast-title {
          font-size: 1rem;
          font-weight: 600;
          opacity: 0.55;
        }
        .dot {
          font-size: 2rem;
          vertical-align: middle;
          opacity: 0.6;
        }
      }
    }
    //AUDIO PLAYER
    .audio {
      display: flex;
      opacity: 0;
      width: 100%;
      height: $audio-height;
      margin-top: 25px;
      margin-left: -10px;
      transition: $trans-time * 2;

      #play-icon {
        width: 45px;
        height: 100%;
        opacity: 0.65;
        cursor: pointer;
      }
      #playback-slider {
        width: 63%;
        height: 100%;
        vertical-align: middle;
        margin: 0 0.5rem 0 0.2rem;
      }
      #time {
        height: $audio-height;
        width: 140px;
        line-height: $audio-height;
        font-size: 1rem;
        font-weight: 500;
        text-align: right;
        opacity: 0.5;
      }
      #volume-icon {
        width: 30px;
        height: 30px;
        margin: 8px -2px 9px 18px;
        opacity: 0.5;
      }
      #volume-slider {
        width: 10%;
        height: 100%;
      }
    }
  }
  // OVERLAY (LOADING) //
  & .overlay {
    .controls {
      display: none;
    }
    .player {
      background-color: $bg-color;
      -webkit-filter: blur(4px);
              filter: blur(4px);
      animation: blink 2s linear infinite;
    }
  }
}

#footer-state:checked {
  & + footer {
    height: $footer-height-a;
    padding-top: ($footer-height-a - $img-height-a) / 2;

    .album-art img {
      height: $img-height-a;
      box-shadow: $img-box-shadow;
    }
    .controls {
      #play { opacity: 0; width: 0; height: 0; }
      #arrow { transform: rotate(180deg); }
    }
    .player {
      margin-left: $img-height-a + 20px;
      .audio { opacity: 1; }
    }
  }
}
