header {
  position: fixed;
  top: 0;
  width: 100%;
  height: $header-height;
  border-bottom: $border;
  background-color: $primary-color;
  z-index: 10000;

  // SITE LOGO
  .logo {
    display: block;
    float: left;
    width: 200px;
    height: $header-height;
    font-size: 2rem;
    font-weight: 600;
    color: #b20000;
    text-align: left;
    padding-top: 0.2rem;

    sup {
      font-size: 1rem;
    }
  }
  // SEARCH INPUT
  .search {
    display: block;
    float: left;
    width: 400px;
    height: $header-height;
    padding-top: 0.4rem;
    margin-left: 3%;

    input[type="text"] {
      width: 100%;
      height: 2rem;
      padding: 0.5rem 1rem;
      border-radius: 3px;
      border: 1px solid darken(#DCDCDC, 20%);
      background-color: lighten($primary-color, 5%);
      font-size: 1rem;
    }
  }
  .link {
    display: block;
    float: right;
    height: $header-height;
    padding-top: 0.2rem;
    cursor: pointer;
    transition: 0.3s;

    img {
      float: left;
      opacity: 0.6;
      width: 30px;
      height: 30px;
      margin: 0.3rem 0.2rem 0 0.2rem;
    }
    p {
      font-size: 1rem;
      font-weight: 800;
      opacity: 0.6;
    }
    &.one { width: 150px; }
    &.two { width: 100px; }
    &:hover { background-color: darken($primary-color, 3%); }
  }
}
