.welcome {
  display: table;
  margin: 5rem auto;
  border: $border;
  padding: 1rem;
  border-radius: 4px;
  background-color: lighten($primary-color, 2%);

  b {
    font-size: 1.5rem;
  }
  p {
    font-size: 1.1rem;
    opacity: 0.8;
  }
  li {
    font-size: 1rem;
    margin-top: 5px;
    font-weight: 400;
    opacity: 0.8;
  }
}
