.podcast {
  margin-top: 10px;

  // PODCAST DETAILS
  .details {
    float: left;
    width: 30%;
    padding-right: 10px;

    img {
      width: 90%;
      height: auto;
      margin: 0 5%;
      box-shadow: $img-box-shadow;
    }
    .title {
      margin-top: 1rem;
      font-size: 1.5rem;
      font-weight: 900;
      text-align: center;
      opacity: 0.7;
    }
  }

  // EPISODES
  .episodes {
    width: 70%;
    height: 83vh;
    overflow: scroll;

    .loader {
      @include loader(relative, 5rem, 0.5rem, darken($primary-color, 20%));
    }
    // INDIVIDUAL EPISODE
    .episode {
      padding: 5px;
      border-bottom: $border;

      .play-icon {
        float: right;
        width: 45px;
        height: auto;
        opacity: 0.55;
        margin-top: 10px;
        cursor: pointer;
        transition: 0.3s;

        &:hover {
          opacity: 0.7;
        }
      }
      // EPISODE TITLE
      .title {
        line-height: 2rem;
        height: 2rem;
        font-size: 1.1rem;
        font-weight: 500;
        opacity: 0.7;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      // EPISODE META DATA
      .meta {
        margin-top: -5px;
        margin-right: 45px;
        opacity: 0.5;

        .date, .desc-toggle {
          font-size: 0.8rem;
          font-weight: bold;
        }
        .dot {
          font-size: 2rem;
          vertical-align: middle;
        }
        .desc-toggle {
          cursor: pointer;
          transition: 0.5s;

          &:hover {
            text-decoration: underline;
          }
        }
      }
      // EPISODE DESCRIPTION
      .description {
        height: 0;
        font-size: 0.9rem;
        overflow: scroll;
        text-align: left;
        opacity: 0.6;
        font-weight: 500;
        transition: 0.3s;

        a {
          font-style: italic;
          text-decoration: underline;
        }
        img {
          width: 20%;
          margin: 0 auto;
        }
        &.show {
          height: 10rem;
        }
      }

      & .light {
        background-color: lighten($bg-color, 1%);
        transition: 0.3s;
      }
      & .dark {
        background-color: $bg-color;
        transition: 0.3s;
      }
      &:hover {
        background-color: darken($bg-color, 2%);
      }
    }
    // LOAD MORE
    .load-more {
      width: 100%;
      height: 100px;
      text-align: center;
      cursor: pointer;
      font-size: 1rem;
      font-weight: 600;
      opacity: 0.5;
      padding-top: 20px;
      transition: 0.3s;

      &:hover {
        background-color: darken($bg-color, 4%);
        text-decoration: underline;
        opacity: 0.6;
      }
    }
  }
}
